<h2 style="text-align: center" >Cadastro de Livros</h2>

<mat-card>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Título"
      [(ngModel)]="titulo" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Autor"
      [(ngModel)]="autor" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Páginas"
      [(ngModel)]="pages" />
  </mat-form-field>

  <button mat-raised-button color="primary"
    (click)="onAdicionarLivro()"
    >Cadastrar Seu Livro</button>

</mat-card>
